body{
  position:absolute;
  width:100%;
  background-color:black;
}

.container{
  width:75%;
  background-color: #DDD;
  margin:auto;
  position:relative;
  margin-top:30%;
  text-align:center;
}

.btn {
  margin: 1rem;
  margin-left: 0.5rem;
  float: right;
}

.form-control {
  width: 50%;
  margin: auto;
}
